{
    "printers": {
        "dell": {
            "ip": "xxx.xxx.xxx.xxx",
            "snmp": "SNMP-STRING"
        },
        "kyocera": {
            "ip": "xxx.xxx.xxx.xxx",
            "snmp": "SNMP-STRING"
        }
    },
    "url": "https://path/to/backend"
}
